## Data typer

Python har flere indbyggede typer.

Hvis du opretter variablen name og tildeler den værdien "Roger", repræsenterer denne variabel automatisk en String datatype.

```python
name = "Roger"
```

Du kan kontrollere typen af en variabel ved at bruge funktionen type(), hvor du sender variablen som argument og derefter sammenligner resultatet med str:

```python
name = "Roger"
type(name) == str #True
```

Eller ved at bruge isinstance():

```python
name = "Roger"
isinstance(name, str) #True
```

Bemærk, at for at se True-værdien i Python uden for en REPL skal du indkapsle denne kode i print(), men for klarhedens skyld undgår jeg at bruge det.

Vi brugte str-klassen her, men det samme virker for andre datatyper.

Først har vi tal. Heltal repræsenteres ved hjælp af int-klassen. Flydende komma-tal (brøker) er af typen float:

```python
age = 1
type(age) == int #True
fraction = 0.1
type(fraction) == float #True
```

Du så, hvordan man opretter en type fra en værdi-literal, som dette:

```python
name = "Flavio"
age = 20
```

Python registrerer automatisk typen ud fra værditypen.

Du kan også oprette en variabel af en bestemt type ved at bruge klassekonstruktøren og sende en værdi-literal eller et variabelnavn:

```python
name = str("Flavio")
anotherName = str(name)
```

Du kan også konvertere fra en type til en anden ved at bruge klassekonstruktøren. Python vil forsøge at bestemme den korrekte værdi, for eksempel ved at udtrække et tal fra en streng:

```python
age = int("20")
print(age) #20

fraction = 0.1
intFraction = int(fraction)
print(intFraction) #0
```

Dette kaldes typecasting. Selvfølgelig vil denne konvertering ikke altid virke afhængigt af den værdi, der sendes. Hvis du skriver test i stedet for 20 i ovenstående streng, får du en ValueError: invalid literal for int() with base 10: 'test' fejl.

Dette er blot grundlæggende om typer. Vi har mange flere typer i Python:

- complex for komplekse tal
- bool for boolske værdier
- list for lister
- tuple for tupler
- range for intervaller
- dict for ordbøger
- set for sæt
- og mere!

Vi vil udforske dem alle snart.

##### [Læs afsnittet "Data Types in Python"](https://www.freecodecamp.org/news/the-python-handbook/#heading-data-types-in-python)  (klik på linket)

Udfør den næste celle og analysér resultatet.

In [ ]:
print(123, "has type", type(123))

x = 64.33
print(x, "has type", type(x))

y = "python"
print(y, "has type", type(y))

x = int(x)
print(x, "has type", type(x))

Udfør den næste celle. Derefter tilføj kode i den tomme linje sådan at resultatets sidste række bliver "20 has type <class 'int'>" når du udfører cellen igen.

In [ ]:
z = "20"
print(z, "has type", type(z))

print(z, "has type", type(z))

Udfør den næste celle. Der opstår en fejl. Hvorfor? Forandre den fejlagtige kodelinje sådan at der bliver printet "20 has type <class 'int'>". Udfør cellen igen.

In [ ]:
number = "number 20"
number = int(number)
print(number, "has type", type(number))
print("Yay!")

Forstod/løste du alle opgaver på denne side?
Ellers spørg [W3schools](https://www.w3schools.com/python/), [Google](https://www.google.com),
[Perplexity](https://perplexity.ai), andre elever eller læreren.

Arbejd videre med den næste Jupyter Notebook.