## Operatorer

Python-operatorer er symboler, som vi bruger til at udføre operationer på værdier og variabler.

#### Tildelingsoperator (assignment operator)

Tildelingsoperatoren har vi allerede brugt mange gange. Den bruges til at tildele en værdi til en variabel:

In [100]:
age = 8
print(age)

8

Eller til at tildele en variabels værdi til en anden variabel:

In [101]:
name = "Hans"
another_variable = name
print(another_variable)

Hans

#### Aritmetiske operatorer (arithmetic operators)

Python har en række aritmetiske operatorer: `+`, `-`, `*`, `/`(division), `//`(heltalsdivision), `%`(rest) og `**`(eksponentiering).
Udfør de følgende celler og eksperimenter med dem indtil du fandt ud af, hvad de enkelte operatorer gør.

In [102]:
print(3 + 5)  # Addition

8

In [103]:
print(4 - 1)  # Subtraktion

3

In [104]:
print(3 * 2)  # Multiplikation

6

In [105]:
print(7 / 2)  # Division

3.5

In [106]:
print(7 // 2)  # Heltalsdivision

3

In [107]:
print(7 % 2)  # Rest efter heltalsdivision

1

In [108]:
print(4 ** 2)  # Eksponentiering (her: 4 i anden potens)

16

Bemærk, at du ikke behøver et mellemrum mellem operanderne, men det er godt for læsbarheden.

`+`bruges også fx til at sammenkæde string-værdier:

In [109]:
print("Donald" + " is a duck")

Donald is a duck

Vi kan kombinere tildelingsoperatoren med aritmetiske operatorer,

fx `+=`, `-=`, `*=`, `/=`.

Det er bare forkortelser, der gør vores kode kortere og lettere at læse.

Udfør de følgende celler og eksperimenter gerne med dem.

In [110]:
number = 3
number = number + 4
print(number)

7

In [111]:
number = 3
number += 4  # does exactly the same as "number = number + 4" would
print(number)

7

In [112]:
age = 8
print("age is", age)
age += 1
print("after +=1 is age now", age)
age /= 3
print("after /=3 is age now", age)
age *= 5
print("after *=5 is age now", age)
age -= 2
print("after -=2 is age now", age)

age is 8
after +=1 is age now 9
after /=3 is age now 3.0
after *=5 is age now 15.0
after -=2 is age now 13.0

#### Sammenligningsoperatorer (comparison operators)

Python definerer følgende sammenligningsoperatorer:
* `==`er lige med
* `!=`er ikke lige med
* `>` er større end
* `>` er større end eller lige med
* `<` er mindre end
* `<=`er mindre end eller lige med

Der skal være en værdi til venstre og højre for operatøren. Tilsammen danner det et udsagn, som enten er `True`eller `False`.

Udfør de følgende celler og eksperimenter gerne med dem.

In [113]:
print(6==7)

False

In [114]:
print(6<7)

True

In [115]:
print("Hans" != "Jesper")

True

In [116]:
print(1 >= 3)

False

In [117]:
print(7 <= 7)

True

#### Boolske logik (boolean logic)

Du kan også regne med værdierne `True` og `False`ved hjælp af `and`, `or` og `not`.

`x and y` er `True`, hvis x og y begge er `True`.

Ellers er `x and y` `False`.

`x or y` er `True`, hvis mindst en af de to værdier x, y er `True`.

Kun hvis x og y begge er `False`, er `x or y` også `False`.

`not` gør et `True` til et `False` og omvendt.

Udfør de følgende celler og eksperimenter gerne med dem.

In [118]:
print(True or False)

True

In [119]:
print(True and True)

True

In [120]:
print(not True)

False

In [121]:
print(True and False)

False

In [122]:
print(13 > 7 and 15 > 2)

True

In [145]:
print(6 == 6 and 10 < 4)

False

In [146]:
age1 = 17
age2 = 23
print(age1 > age2 or age2 != 99)

True

#### Medlemskabsoperatoren (the membership operator)

Medlemskabsoperatoren `in`bruges til at fortælle, om en værdi er indeholdt i en liste eller en anden sekvens. Mere om lister og andre sekvenser senere.

### Øvelser

Udfør de næste celler en af gangen. Før du udfører en celle, regn resultatet ud på forhånd. Når du får et uventet resultat, find ud af hvorfor.
Leg gerne med cellerne. Forandre dem og udfør dem igen.
Du kan også tilføje nye celler.

##### Arithmetic operators

In [124]:
a = 5
b = 13
print(a * b)  # addition

65

In [125]:
c = a - b  # subtraction
print(c * c)  #  multiplication

64

In [126]:
print(a % b)  # remainder (sometimes called modulo)

5

In [127]:
print(c)

-8

In [128]:
print(c % c)

0

In [129]:
print(a ** c)  # exponentiation

2.56e-06

In [130]:
print(a / c)  # division
print(type(a / c))

-0.625
<class 'float'>

In [131]:
print(a // c)  # floor division
print(type(a // c))

-1
<class 'int'>

In [132]:
d = 17
d += 5
print(d)
d -= 18
print(d)

22
4

##### Comparison operators

In [133]:
print(4 > 3)

True

In [134]:
print(4 == 3)

False

In [135]:
print(4 != 3)

True

In [136]:
print(4 <= 3)

False

##### Boolean  operators

In [137]:
print(not True)

False

In [138]:
print(True or False)

True

In [139]:
print(True and False)

False

In [140]:
bool1 = 5 <= 2
bool2 = True
print(bool1, bool2)

False True

In [141]:
print(bool1 or bool2)

True

##### The in operator

In [142]:
numbers = [3, 1, 8]
print("numbers has type", type(numbers))
print(2 in numbers)

numbers has type <class 'list'>
False

In [143]:
print(3 in numbers)

True

Forstod/løste du alle opgaver på denne side?
Ellers spørg [W3schools](https://www.w3schools.com/python/), [Google](https://www.google.com),
[Perplexity](https://perplexity.ai), andre elever eller læreren.

Arbejd videre med den næste Jupyter Notebook.

##### Læs afsnittet "Operators in Python". Linket på websiden virker pt. ikke, men det er det afsnit umiddelbart efter ["Data Types in Python"](https://www.freecodecamp.org/news/the-python-handbook/#heading-data-types-in-python)  (klik på linket)